
#stacks_in_100_page4 {
	border: solid rgba(7, 64, 128, 1.00);
	border-width:  1px;
	margin:  12px;
}
#stacks_in_2_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_2_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_2_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_2_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_2_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_2_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_17_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  5px;
}

#stacks_in_75_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  10px;
}
#stacks_in_5_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_5_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_5_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_5_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_5_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_5_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_19_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  5px;
}

#stacks_in_77_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  10px;
}
#stacks_in_8_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_8_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_8_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_8_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_8_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_8_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_21_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  5px;
}

#stacks_in_79_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  10px;
}
#stacks_in_50_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_50_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_50_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_50_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_50_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_50_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_55_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  5px;
}

#stacks_in_81_page4 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
	margin:  2px;
	padding:  10px;
}
#stacks_in_93_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_93_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_93_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_93_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_93_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_93_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





#stacks_in_96_page4_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_96_page4 a:link, #stacks_in_96_page4 a:visited {
	 display:inline-block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_96_page4 a:hover, #stacks_in_96_page4 a:active {
	color:#FFFFFF;
}







#stacks_in_96_page4 a:link, #stacks_in_96_page4 a:visited {
	background-color:#14A0A0;
	background: -webkit-gradient(linear, left top, left bottom, from(#14A0A0), to(#0C6060));
	border:1px solid #0C6060;
	padding:3px 20px;
	border-radius:30px;
	color:#FFFFFF;
	box-shadow:rgba(0, 0, 0, 0.5) 0px 1px 2px;
	margin:5px;
	font-weight:bold;
}
#stacks_in_96_page4 a:hover {
	background-color:#15ACAC;
	background: -webkit-gradient(linear, left top, left bottom, from(#15ACAC), to(#0A5353));
	box-shadow:rgba(0, 0, 0, 0.25) 0px 2px 4px;
}
#stacks_in_96_page4 a:active {
	background-color:#14A0A0;
	box-shadow:rgba(0, 0, 0, 0.75) 0px 0px 4px inset;
}




#stacks_in_96_page4 {
	margin:  20px;
	padding:  2px;
}
#stacks_in_98_page4_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_98_page4 a:link, #stacks_in_98_page4 a:visited {
	 display:inline-block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_98_page4 a:hover, #stacks_in_98_page4 a:active {
	color:#FFFFFF;
}







#stacks_in_98_page4 a:link, #stacks_in_98_page4 a:visited {
	background-color:#14A0A0;
	background: -webkit-gradient(linear, left top, left bottom, from(#14A0A0), to(#0C6060));
	border:1px solid #0C6060;
	padding:3px 20px;
	border-radius:30px;
	color:#FFFFFF;
	box-shadow:rgba(0, 0, 0, 0.5) 0px 1px 2px;
	margin:5px;
	font-weight:bold;
}
#stacks_in_98_page4 a:hover {
	background-color:#15ACAC;
	background: -webkit-gradient(linear, left top, left bottom, from(#15ACAC), to(#0A5353));
	box-shadow:rgba(0, 0, 0, 0.25) 0px 2px 4px;
}
#stacks_in_98_page4 a:active {
	background-color:#14A0A0;
	box-shadow:rgba(0, 0, 0, 0.75) 0px 0px 4px inset;
}




#stacks_in_98_page4 {
	margin:  20px;
	padding:  2px;
}
